<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autodocus"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingApp">
        <activity android:name=".barCodeActivity"></activity>
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".ItemDetailsActivity" />
        <activity android:name=".ItemsListActivity" />
        <activity android:name=".Search" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".profileActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".categoriesActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Layout.CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>
    </application>

</manifest>